* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  color: #0a192f;
  line-height: 1.6;
}

header {
  background: #2c3e50;
  color: white;
  text-align: center;
  padding: 2rem 0;
}

nav {
  background: #34495e;
  text-align: center;
  padding: 1rem;
}
nav a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
}
nav a:hover {
  color: #1a91e0;
}

section {
  padding: 3rem 2rem;
  max-width: 1000px;
  margin: auto;
}
section h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #2c3e50;
  border-bottom: 3px solid #3498db;
  padding-bottom: 0.5rem;
}

#contact h2 {
  border-bottom: none;

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}
.project-card {
  border: 1px solid #ddd;
  padding: 1.5rem;
  border-radius: 8px;
}
.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 15px;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.skill {
  background: #3498db;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
}  gap: 40px;
  margin-top: 30px;
}

.contact-info a {
  font-size: 28px;
  color: #000;
  transition: 0.3s ease;
}

.contact-info a:hover {
  color: #3b82f6;
  transform: scale(1.1);
}

.section-line {
  border: none;
  height: 2px;
  background-color: #3b82f6;
  margin-top: 30px;
}

.fa-linkedin:hover {
  color: #0a66c2;
}
.fa-phone:hover {
  color: #22c55e;
}
.fa-envelope:hover {
  color: #e11d48;
}
.fa-github{
   color: #050505;
}
footer {
  background: #2c3e50;
  color: white;
  text-align: center;
  padding: 2rem 1.5rem;
}


footer a {
  display: block !important;
  font-size: 80px !important;
  color: white !important;
  margin: 30px auto !important;
  text-decoration: none;
  transition: transform 0.3s ease;
  width: fit-content;
}

footer a:hover {
  transform: scale(1.2);
}

footer i,
footer svg {
  font-size: 80px !important;
  width: 80px !important;
  height: 80px !important;
}
.fa-github {
  font-size: 28px;
}
.fa-envelope{
  font-size: 28px;
}
.fa-linkedin{
  font-size: 28px;
}
.fa-phone{
  font-size: 28px;
}
.center-img {
  display: block;     
  margin: 0 auto;      
}
#contact{
  text-align: center;
}